





.box {

    height: 5rem;
    width: 5rem;
    background-color: aqua;

}

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(2, 100px);
    border: 4px solid rebeccapurple;
}
